.container {
  position: relative;
  display: block;
  width: 100%;
}

/* Скрываем компонент на мобильных устройствах */
@media (max-width: 768px) {
  .container {
    display: none;
  }
}

.buttonsWrapper {
  display: flex;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
}