.adminLayout {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  background: #ecf0f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 2rem;
}